html { margin: 0; padding: 0; border-top: 2px solid #c9cacc; background: #1d1f21; }
body { box-sizing: border-box; color: #c9cacc; margin: 0 auto; padding: 1em 0; font-size: 14px; font-family: "Lucida Console", Monaco, monospace; }
nav { text-align: right; margin-bottom: 3em; }
p, li { line-height: 1.75em; }
a { color: #2bbc8a; }
a:visited { color: #F35C38; }
hr { border: 0; height: 1px; background: #666 }
hr:last-of-type { margin-bottom: 2em; }
small { color: #999 }

@media (max-width: 49.9375em) {
  body { width: 100%; padding: 1em }
  h1 { font-size: 1.5em }
  h2 { font-size: 1.2em; margin-top: 1.5em }
  nav { text-align: center; }
}
@media (min-width: 50em) and (max-width: 63.9375em) { body { width: 80% } }
@media (min-width: 64em) { body { width: 45% } }
